<div class="tought-container-new-edit">
  <div class="tought-form-control">
    <form action="/toughts/create" method="post" class="form-new-edit">
      <label for="title">Crie seu <span>pensamento</span></label>
      <div class="form-control">
        <textarea
          name="title"
          cols="30"
          rows="10"
          placeholder="Digite o seu pensamento"
        ></textarea>
      </div>
      <button class="btn">Criar pensamento</button>
    </form>
  </div>
</div>