<div class="dashboard">
  <div class="title-container">
    <h3>Seus <span>pensamentos</span></h3>
    <button class="button-new-toughts"><a href="/toughts/create">+</a></button>
  </div>
  <ul>
    {{#each toughts}}
      <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
          <a href="/toughts/edit/{{this.id}}" class="btn-actions"><i
              class="bi bi-pencil-fill"
            ></i></a>
          <form action="/toughts/remove" method="post">
            <input type="hidden" name="id" value={{this.id}} />
            <button class="btn-actions"><i
                class="bi bi-trash-fill"
              ></i></button>
          </form>
        </span>
      </li>
    {{/each}}
  </ul>
  {{#if emptyToughts}}
    <p>Ainda não há nenhum pensamento seu, comece a criar
      <a href="/toughts/create">por aqui</a></p>
  {{/if}}
</div>