<div class="tought-container-new-edit">
  <div class="tought-form-control">
    <form action="/toughts/edit" method="post" class="form-new-edit">
      <input type="hidden" name="id" value={{tought.id}} />
      <label for="title">Editando <span>pensamento</span></label>
      <div class="form-control">
        <textarea
          name="title"
          placeholder="Digite o seu pensamento"
        >{{tought.title}}</textarea>
      </div>
      <button class="btn">Editar Pensamento</button>
    </form>
  </div>
</div>