* {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  padding-bottom: 150px;
  overflow-x: hidden;
}

/*Navbar*/
#logo img {
  height: 40px;
}

#navbar {
  background-color: #fb7740;
  height: 50px;
  padding: 1.2em 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #d9d9d9; */
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: #fff;
}

/*Container*/
.container {
  min-height: calc(100vh - 150px);
  background-color: #d9d9d9;
}

/*Message*/
.message {
  padding: 1em;
  color: #01baef;
  background-color: #cce5ff;
  border: 1px solid #f3ca40;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

/*home*/

.home-header {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.home-header h1 {
  font-size: 3rem;
  margin-bottom: 1em;
}

.home-header span {
  color: #f6982d;
}

.home-header p,
.home-header form {
  margin-bottom: 1.2em;
}

.home-header .input-home {
  display: flex;
  justify-content: center;
}

.home-header input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  border-radius: 10px;
  margin-right: 1em;
}

.home-header button {
  height: 40px;
}

.home-header input[type="text"] {
  width: 60%;
}

.home-header input::placeholder {
  color: #000;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 1em;
}

.order-container span {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.order-container .btn-clean {
  width: 97px;
  height: 30px;
  font-size: 1.5em;
  background: #fb7740;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.order-container .btn-clean a {
  color: #fff;
}

.order-container .btn-clean a:hover {
  color: #000;
}

.order-container i {
  font-size: 2rem;
}

.order-container form {
  margin: 0;
}

.order-container button {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
}

.order-container button:hover,
.order-container i:hover,
.order-container a:hover {
  color: #f6982d;
}

.order-container button,
.order-container i,
.order-container a {
  margin: 0 7px;
}

.toughts-container figure {
  max-width: 50%;
  background-color: #fff;
  margin: 30px auto 1em;
  border: 1px solid #333;
  padding: 0.5em;
  border-radius: 10px;
}

.toughts-container blockquote {
  font-style: italic;
  font-size: 3em;
  margin-bottom: 0.4em;
  font-weight: bold;
  text-align: center;
}

.toughts-container figcaption {
  font-size: 1.6em;
  font-weight: bold;
}

.toughts-container span {
  color: #f6982d;
}

/*CREATE /EDIT FORM*/
.tought-form-control {
  color: #f6982d;
}

.tought-form-control a:hover {
  color: #fff;
}

.tought-form-control h1 {
  margin: 1em 0;
  color: #fff;
  border-left: 4px solid #f6982d;
  padding: 0.3em;
}

.tought-form-control form {
  max-width: 30%;
  margin-top: 1.5em;
}

/*Dashboard*/
.title-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 1.5em;
  padding: 40px 10px;
}

.title-container h3 {
  font-size: 4em;
}

.title-container .button-new-toughts {
  height: 50px;
  width: 50px;
  font-size: 4em;
  background-color: #fb7740;
  border-radius: 50%;
  color: #fff;
  border: none;
}

.title-container .button-new-toughts a {
  color: #fff;
}

.dashboard ul {
  list-style: none;
}

.dashboard li {
  width: 90%;
  height: 70px;
  background-color: #fff;
  padding: 12px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.dashboard .label {
  max-width: 60%;
  font-weight: bold;
  color: #000;
  font-size: 2rem;
}

.dashboard .actions {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.dashboard .actions .btn-actions {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.dashboard a {
  color: #f6982d;
}

/*Display Criar/Editar pensamento*/
.tought-container-new-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tought-form-control .form-new-edit {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.tought-form-control .form-new-edit label {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.tought-form-control .form-new-edit span {
  color: #fb7740;
}

.tought-form-control .form-new-edit textarea {
  width: 400px;
  height: 200px;
  margin-top: 40px;
  resize: none;
}

.tought-form-control .form-new-edit button {
  height: 50px;
}

/*Login e Register*/
.container-design {
  width: 60vw;
  min-height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-design h1 {
  font-size: 4rem;
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
}

.container-design span {
  font-size: 5rem;
  display: block;
}

.container-design img {
  margin-top: 10px;
  width: 143px;
}

.container-design p {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 2em;
  z-index: 99;
}

.img-background-login {
  min-width: 500px;
  height: 500px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.auth-container {
  width: 50vw;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.auth-container h2 {
  font-size: 6rem;
  color: #fb7740;
  margin-top: 80px;
}

.auth-container .title-register {
  margin-top: 15px;
}

.auth-container p {
  font-size: 1.6rem;
}

.auth-container a {
  color: #fb7740;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
  width: 358px;
  height: 40px;
  font-size: 2rem;
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #f2a541;
}

form input[type="submit"],
.btn {
  width: 197px;
  height: 30px;
  font-size: 1.5em;
  background: #fb7740;
  color: #fff;
  border: 2px solid #f2a541;
  margin-bottom: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

form input[type="submit"]:hover,
.btn:hover {
  background-color: #f2a541;
  color: #fff;
}

/*Footer*/
footer {
  width: 100vw;
  background-color: #fb7740;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2a541;
  position: absolute;
  bottom: 0;
}

footer p {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}
